.mo-only {
  display: block;
}

.container {
  width: 100%;
  max-width: 720px;
  min-width: 100%;
  padding: fv(30);
}

  header {
    margin-top: fv(30);
    margin-left: fv(30);
  }

.logo {
  width: fv(100);
}

.content {
  padding: 0;

  &--pt {
    padding-top: 0;
  }
}

.title {
  gap: fv(6);
  font-size: fv(42);
  line-height: lh(58, 42);
}
// E : common

// S : page-1
.start-btn {
  padding-right: fv(28);
  font-size: fv(44);

  &::after {
    width: fv(15);
    height: fv(32);
  }
}
// E : page-1

// S : page-2
.input-box {
  > input {
    width: fv(472);
    padding: fv(10);
    
    font-size: fv(38);
  }
}

.info {
  font-size: fv(26);
}
// E : page-2

// S : page-6
.img-box {
  flex-wrap: wrap;
  gap: fv(30);
  margin-top: fv(20);
}

.img {
  &-thumb {
    width: fv(360);
    height: fv(200);
  }
  &-code {
    width: fv(200);
  }
}

.desc {
  margin-top: fv(30);
  font-size: fv(34);
  line-height: lh(50, 34);
}

.reset-btn {
  margin-top: fv(100);
}
// E : page-6
