@use "sass:math";
@use "sass:string";
@use "sass:map";

@function fluid($min, $max, $minVw: 320, $maxVw: 1600) {
  $var: math.div(math.abs($max - $min), $maxVw - $minVw);

  @if $max > $min {
    $const: $max - $maxVw * $var;
    $in-between: $const + "px + " + ($var * 100) + "vw";

    @return string.unquote(
      "clamp(" + $min + "px, " + $in-between + ", " + $max + "px)"
    );
  } @else {
    $const: $max * -1 - $maxVw * $var;
    $in-between: "(" + $const + "px + " + ($var * 100) + "vw) * -1";

    @return string.unquote(
      "clamp(" + $max + "px, " + $in-between + ", " + $min + "px)"
    );
  }
}

$min-width: 721 !default;
$max-width: 1600 !default;

@function fv($value) {
  $ratio: math.div($min-width, $max-width);

  @return fluid($value * $ratio, $value, $min-width, $max-width);
}

@function lh($value, $base) {
  @return math.div($value, $base);
}
