@use "reset" as *;
@use "util" as * ;

@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: 700;
}

$bg-color: #000;
$light: 300;
$medium: 500;
$bold: 700;

.vue-devtools__panel[data-v-e9063f7b] {
  display: none;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $bg-color;

  font-family: 'SBAggroB', sans-serif;
  line-height: 1;
  letter-spacing: 0;
  font-weight: $light;
  color: #fff;
  white-space: pre-line;

  // S : common
  img {
    display: block;
    width: 100%;
  }

  iframe,
  video {
    width: 100%;
    height: 100%;
  }

  span {
    display: inline-block;
  }

  button {
    color: #fff;
    touch-action: manipulation;
  }

  input[type="text"] {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    caret-color: #888;

    &:invalid {
      border: none;
      border-color: transparent;
    }
  }

  .mo-only {
    display: none;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    min-width: 721px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: fv(40);
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: fv(40);
    margin-left: fv(40);
  }

  .logo {
    width: fv(110);
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: fv(77);
    text-align: center;

    &--py {
      padding-bottom: fv(77);
    }

    &--pn {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: fv(48);
    line-height: lh(64, 48);
    text-align: center;
    

    &--l {
      font-size: fv(50);
      line-height: lh(70, 50);
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: fv(50);
  }

  .rounded-btn {
    font-size: fv(40);
    font-weight: $medium;
    border: fv(2) solid #fff;
    border-radius: fv(50);
    padding: fv(14) fv(32) fv(6);
  }
  // E : common

  // S : page-1
  .obj {
    width: fv(120);
    margin-top: fv(70);
    animation: upDown 2s ease-in-out infinite;
  }

  .start-btn {
    position: relative;
    margin-top: fv(80);
    padding-right: fv(34);
    font-size: fv(50);
    font-weight: $medium;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-60%);
      background: url(../images/arrow_ico.png) no-repeat center/cover;
      width: fv(20);
      height: fv(37);
    }
  }
  // E : page-1

  // S : page-2
  .input-box {
    border-bottom: fv(1) solid #fff;
    
    > input {
      width: fv(500);
      padding: fv(8);
      
      font-size: fv(40);
      color: #888;
      text-align: center;
    }
  }

  .info {
    margin-top: fv(24);
    font-size: fv(24);
    color: #2eae16;
  }

  .submit-btn {
    margin-top: fv(100);
  }
  // E : page-2

  // S : page-3
  .options {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: fv(26);
    padding: 0 fv(40);
  }
  
  .option-btn {
    padding: fv(26) fv(24) fv(18);
    border: fv(1) solid #fff;
    border-radius: fv(16);
    font-size: fv(36);
    line-height: lh(50, 36);
    font-weight: $light;

    &:focus {
      background-color: rgba(255, 255, 255, 0.5);
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .progress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: fv(6);
    transform: translateY(fv(-80));
    width: fv(400);
    height: fv(6);
    justify-self: start;
  }

  .progress-bar {
    position: relative;
    flex: 1;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #fff;
      transition: 0.3s width;
    }
    
    &.active {
      &::after {
        width: 100%;
      }
    }
  }
  // E : page-3

  // S : page-4
  .sound {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sound-wave {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: fv(6);
    height: fv(84);
  }

  .bar {
    display: block;
    width: fv(10);
    height: fv(84);
    border-radius: fv(5);
    background: #ffffff;
    transition: height 0.5s;
    animation: soundWave 0ms -500ms linear infinite alternate;
  }

  .bar:nth-child(1)  { animation-name: soundWave4; animation-duration: 574ms; }
  .bar:nth-child(2)  { animation-name: soundWave2; animation-duration: 533ms; }
  .bar:nth-child(3)  { animation-name: soundWave5; animation-duration: 507ms; }
  .bar:nth-child(4)  { animation-name: soundWave1; animation-duration: 558ms; }
  .bar:nth-child(5)  { animation-name: soundWave3; animation-duration: 500ms; }
  .bar:nth-child(6)  { animation-name: soundWave5; animation-duration: 527ms; }
  .bar:nth-child(7)  { animation-name: soundWave2; animation-duration: 541ms; }
  .bar:nth-child(8)  { animation-name: soundWave4; animation-duration: 519ms; }
  .bar:nth-child(9)  { animation-name: soundWave1; animation-duration: 587ms; }
  .bar:nth-child(10) { animation-name: soundWave3; animation-duration: 542ms; }
  .bar:nth-child(11) { animation-name: soundWave5; animation-duration: 500ms; }
  .bar:nth-child(12) { animation-name: soundWave2; animation-duration: 568ms; }

  @keyframes soundWave1 {
    0% { opacity: .35; height: fv(24); }
    100% { opacity: 1; height: fv(48); }
  }
  @keyframes soundWave2 {
    0% { opacity: .35; height: fv(30); }
    100% { opacity: 1; height: fv(54); }
  }
  @keyframes soundWave3 {
    0% { opacity: .35; height: fv(36); }
    100% { opacity: 1; height: fv(66); }
  }
  @keyframes soundWave4 {
    0% { opacity: .35; height: fv(42); }
    100% { opacity: 1; height: fv(72); }
  }
  @keyframes soundWave5 {
    0% { opacity: .35; height: fv(60); }
    100% { opacity: 1; height: fv(84); }
  }

  .sound-logo {
    width: fv(170);
    margin-top: fv(16);
  }
  // E : page-4

  // S : page-5
  .user-name {
    font-weight: $medium;
  }

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: fv(34);
    margin-top: fv(20);
  }

  .img {
    &-thumb {
      width: fv(370);
      height: fv(210);
      border: 1px solid #424242;
    }
    &-code {
      width: fv(210);
      border: 1px solid #fff;
    }
  }

  .desc {
    margin-top: fv(30);
    font-size: fv(42);
    line-height: lh(52, 42);
  }

  .reset-btn {
    margin-top: fv(50);
  }
  // E : page-5

  @media screen and (max-width: 720px) {
    @import '../scss/mobile';
  }
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(fv(10));
  }
}